/******* GENERIC STYLES ********/

.badge-important {
	background-color:#d9534f
}

.badge-primary {
	background-color:#3276b1;
}

.img-small {
	height:32px;
}

.header-tabs {
	padding:10px 10px 0 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.list-group-item:hover .btn {
	background-color:white !important;
}

/******* NAV BAR ********/

@media (min-width:768px) {  
	#nav-search-location {
		padding-left:0px;
	}
}
@media (max-width:768px) {  
	#nav-search-button {
		position: relative;
		min-height:   1px;
		margin-right: 15px;
		margin-left: 15px;
		width:150px;
	}
	.navbar-nav {
		float:left !important;
	}
	.navbar-nav > li {
		float: left;
	}

	.navbar-form {
		border-top:0;
		border-bottom:0;
		margin-top:0;
		margin-bottom:0;
	}
}

@media (max-width: 768px) {
	.nav-img a {
		padding-top:0px !important;
		padding-bottom:0 !important;
	}
}

@media (min-width: 768px) {
	.nav-img a {
		padding-top:10px !important;
		padding-bottom:0 !important;
	}
}

#navbar-xs {
	margin-left:10px;
}

/******** MAPS ******/

.map-icon-container {
	float:left;
}

@media (min-width:768px) {
	.map-info-container {
		margin-left:45px;
	}
}

/******* MAP ********/

#map-title {
	margin-top:0px;
}  

#map-right {
	padding-left:0;
	padding-right:0;
}

#map-left {
	padding-left:0;
}

@media (max-width: 1200px) {
	#map-left {
		padding-right:0;
	}
}

@media (max-width: 768px) {
	#map { height: 180px; }		
	.map-icon-small {
		display: inline !important;
		color:#777777;
	}
}

@media (min-width: 768px) {
	#map { height: 400px; }
	.map-icon {
		display: inline !important;
		color:#777777;
	}
	.spot-actions {
		float:right;
	}
	.spot-info-container {
		margin-left:25px;
	}
}

.spot-infos {
	padding-left:0px;
}

.spot-actions {
	padding-right:0px;
}

.spot-icon {
	display: inline !important;
	color:#777777;
}

.spot-icon-container {
	float:left;
}
