<div class="panel panel-default">
  <div class="panel-heading">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_pinterest_pinit"></a>
      <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520613fc20d317d5"></script>
    <!-- AddThis Button END -->
  </div>
  <div class="panel-body">
    <div class="col-lg-8">
      <h1 id="map-title">Les meilleurs bars à chat de paris</h1>
    </div>
    <div class="col-lg-4 pull-left" style="margin-top:15px; margin-bottom:15px">
      <div class="pull-right">
        <span class="label label-info">x cinema</span> <span class="label label-default">x chaise</span>
      </div>
    </div>

    <div  style="clear:both" data-ui-view="" id="map-left" class="col-lg-4">
      <!-- <SPOT LIST> -->
    </div>
    <div id="map-right" class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="map"></div>
        </div>
      </div>
      <div class="panel panel-default">

        <ul class="nav nav-tabs" id="map-tabs">
          <li><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#discussions" data-toggle="tab">Discussions <span class="badge">124</span></a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="panel-body">
          <p>Bla bla</p>
        </div>
      </div>
    </div>
  </div> 
</div>

<script>
var spotMap;

$(document).ready(function(){
    // Initialize the map
    spotMap = Object.create(SpotMap, {
        map_id: { value: 'map' }
    });
    spotMap._init();
});
             $('#map-tabs a').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            })

             $('#map-tabs a:first').tab('show')


           </script>