<style>

  .list-group-item:hover .btn {
    background-color:white !important;
  }

  @media (min-width:768px) {
    .spot-actions {
      float:right;
    }
  }

  .spot-infos {
    padding-left:0px;
  }

  .spot-actions {
    padding-right:0px;
  }

</style>
<div class="list-group">
  <div data-ui-view="" ng-animate="{enter:'fade-enter'}">
    <a href="#/map/new" class="list-group-item active" style="text-align:center">
      <span><i class="icon-map-marker"></i> <b>Add a new Spot</b></span>
    </a>
  </div>
</div>
<div class="list-group">
  <div data-ng-repeat="spot in spots | orderBy:'_id':reverse">
    <a class="list-group-item container" ng-class="spot.class" role="spot-item" ng-click="selectSpot(spot)">
  
    <div class="spot-infos col-lg-8 col-sm-8 col-md-8 col-xs-10">
     <h4 class="list-group-item-heading" role="spot-title">{{spot.title}}</h4>

     <p class="list-group-item-text">{{spot.description}}</p>
     <p class="hide" role="spot-longitude">{{spot.longitude}}</p>
     <p class="hide" role="spot-latitude">{{spot.latitude}}</p>
     <p class="hide" role="spot-id">{{spot._id}}</p>
     <div display-marker/>
    </div> 
     <div class="spot-actions col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <!--<div class="spot-actions">-->
         <!--<span class="label label-info">x cinema</span>
          <span class="label label-default">x chaise</span>-->
          <!--<button class="btn"><i class="icon-map-marker"></i></button>
           <button class="btn"><i class="icon-comment"></i></button>
          <button class="btn"><i class="icon-thumbs-up"></i></button>-->
          <button class="btn pull-right"><i class="icon-plus"></i></button>
        <!--</div>-->
     </div>
   </a>
 </div>
</div>
